
body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 241, 241);
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {
    /* The image used */
    background-image: url("img_nature.jpg");
   
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Add styles to the form container */
  .container {
    left: 0;
    padding: 2%;
    max-width: 500px;
    margin-top: 100px !important;
    background-color: white;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color:rgb(132, 186, 236);
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    display:table;
    margin:0 auto;
    width: 30%;
    opacity: 0.9;
    font-size:140%;
  }
  
  .btn:hover {
    opacity: 1;
  }